body {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.appBar {
  background-color: rgb(38, 38, 38);
  font-weight: 500;
  font-size: 20px;
}
.appBar b {
  margin-left: 10px;
}
.menu-dots {
  float: right;
}

.loader {
  width: "100%";
  padding-top: "50%";
}
.circleProgress {
  margin-left: 45px;
}
.title {
  background-color: #746a64;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
.movieData {
  padding: 24px 10px
}
.details {
  width: 100%;
}
.year {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
}
.duration {
  color: #212121;
  font-size: 14px;
}
.detail-down {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.rating {
  margin-bottom: 10%;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}

.description {
  padding-top: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}
.trailer {
  padding-top: 14px;
  font-weight: 500;
  color: #757575;
}
.video-list {
  background-color: "#FAFAFA";
  margin-top: "10px";
  color: "#757575";
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding-right: 0px;
  padding-left: 0px;
} 

.col img {
  position: relative;
  float: left;
  width: 100%;
}
.col-md-3 img {
  position: relative;
  float: left;
  width: 100%;
  margin-right: 2%;
}
.col-md-6 {
  height: 100%;
  width: 100%;
  float: left;
  color: black;
}

@media screen and (max-width: 800px) {
  .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .col-md-3 img {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    padding-right: 10px;
    padding-left: 0px;
  }

  .col-md-6 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .col-md-3 img {
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    padding-right: 10px;
    padding-left: 0px;
  }

  .col-md-6 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
